<section class="clients">
    <div class="container">
        <h2 class="clients__title">They already trust us</h2>
        <ul class="clients__grid">
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-1.svg" alt="Logo Hillel">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-2.svg" alt="Logo WannaBiz">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-3.svg" alt="Logo TapGerine">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-4.svg" alt="Logo 3D Look">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-5.svg" alt="Logo Orangear">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-6.svg" alt="Logo Adtelligent">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-7.svg" alt="Logo Clickky">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-8.svg" alt="Logo Eco Leasing">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-9.svg" alt="Logo InfraTek">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-10.svg" alt="Logo City Park">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-11.svg" alt="Logo Art-print studio">
            </li>
            <li class="clients__item">
                <img class="clients__item--logo" src="dist/images/Clients-Logo-12.svg" alt="Logo Ultimate Card">
            </li>
        </ul>
    </div>
</section>