<h2 class="publications__title">We have something to tell</h2>

<ul class="publications__list">

    <li class="publications__item">
        <a class="publications__link" href="#">
            <img class="publications__link--img" src="images/publications-img-1.jpg" alt="Equity associate">
            <div class="publications__link--wrapper">
                <h3 class="publications__link--title">Equity associate</h3>
                <span class="publications__link--date">April 22</span>
                <p class="publications__link--content">I'm a jun on projects. I am a co-owner of a law firm.
                    How it happened. Before entering my parents told me that if I…</p>
            </div>
        </a>
    </li>
    <li class="publications__item">
        <a class="publications__link" href="#">
            <img class="publications__link--img" src="images/publications-img-2.jpg" alt="GDPR">
            <div class="publications__link--wrapper">
                <h3 class="publications__link--title">Penalty for the Good Corporation: what will happen to
                    Google and others for violating the GDPR</h3>
                <span class="publications__link--date">September 29</span>
                <p class="publications__link--content">And why the recovery of 50 million euros could be a
                    fateful precedent According to Mind.ua January 21 National Commission for Data
                    Protection.
                </p>
            </div>
        </a>
    </li>
    <li class="publications__item">
        <a class="publications__link" href="#">
            <img class="publications__link--img" src="images/publications-img-3.jpg" alt="Millennial Testament">
            <div class="publications__link--wrapper">
                <h3 class="publications__link--title">Millennial Testament</h3>
                <span class="publications__link--date">August 19</span>
                <p class="publications__link--content">What and how modern vloggers, opinion leaders and
                    crypto-millionaires will inherit A typical legacy of the Ukrainian generation X looks
                    like this: an apartment in…</p>
            </div>
        </a>
    </li>
</ul>